.money {
    font-size: 1rem;
    letter-spacing: 1px;

    margin: 5px 0;
}

.money.plus {
    color: #2ecc71;
}

.money.minus {
    color: #c0392b;
}

.inc-exp-container {
    display: flex;
    justify-content: space-between;

    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;

    margin: 20px 0;
}

.inc-exp-container div {
    text-align: center;
    flex: 1;
}

.inc-exp-container div:nth-child(1) {
    border-right: 1px solid #dedede;
}